#loader-wrapper{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 1000;
  background-color: red;
}

#loader{
  display: block;
  position: relative;
  left:50%;
  top:5%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
}

#loader:before{
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3d;
}
#loader:after{
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
}
